* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

.portal {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;

  display: block;
  text-decoration: none;
}

.portal-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  filter: grayscale(100%);
  transition: filter 1.5s ease;
}

.portal-wrapper {
  width: 100vw;
  height: 100vh;
}

.portal-elip .portal-img {
  position: absolute;
  bottom: 0;
}

.portal-xcla .portal-img {
  object-position: top;
}

.portal:hover .portal-img {
  filter: grayscale(0%);
}
